.popup__text {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    line-height: 29.05px;
    font-style: normal;
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: flex-start;
    padding-bottom: 54px;
    margin: 0;
}

@media screen and (max-width: 565px) {
    .popup__text {
        font-size: 18px;
        line-height: 22px;
        justify-content: center;
        padding-bottom: 75px;
    }
}